body {
    background-color: #edf1d6;
    font-family: 'Young Serif', serif;
}
.topnav {
    background-color: #9dc08b;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #edf1d6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #609966;
    color: #edf1d6;
  }
  
  
  .topnav a.aktif {
    background-color: #609966 ;
    color: #edf1d6;
  }
  h1 {
    color: #40513b;
  }
.div1{
    margin-left: 50px;
  }
  .div2 {
    align-items: right;
  }
  
  
  .wrapper {
    display: flex;
    
  }
  .card {
    border: 50px solid #edf1d6 ;
  }
  .button1:hover {
    background-color: #609966;
    color: #edf1d6;

  }
.button1 {
    background-color: #edf1d6;
    color: #609966;
    border: 2px
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}